<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%if title %}
    <title> {{title}} </title>
    {% else %}
    <title> News and article search website </title>
    {% endif %}
  </head>
      <body>
        {% blockcontent %}
        <style>
        body {
              background-image: url("https://static.tumblr.com/1e1846b975d3240e66953af306e7c580/q76s4ht/Kfdoitx1c/tumblr_static_abz4kkate3cccc00wwcs4go4k_640_v2.jpg");
              background-attachment: fixed;
            }
        </style>

        {% endblock %}
  </body>


</html>
