<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <link rel="icon" href="{{url_for('static',filename='images/logo.png')}}">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">News Report</a></li>
      <li><a href="#"></a>Home</li>
    </ul>
  </div>
</nav>

<style>

  #navbar{
  background:transparent;
  background-image: url("https://static.tumblr.com/1e1846b975d3240e66953af306e7c580/q76s4ht/Kfdoitx1c/tumblr_static_abz4kkate3cccc00wwcs4go4k_640_v2.jpg");
  border-color:transparent;
  box-shadow:none;
}

</style>
